APP_HOST = "localhost"
APP_PORT = 1080

DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "teqtms"
DB_USER = "root"
DB_PASS = ""
DB_SSL = "disable"
DB_TIMEZONE = "Africa/Lagos"

MAIL_HOST = "localhost"
MAIL_PORT = "1025"
MAIL_USER = "test"
MAIL_PASS = "test"
MAIL_SENDER = "mail@teqilla.com"
MAIL_URL = "https://api.zeptomail.com/v1.1/email"
